In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import BayesianRidge
from sklearn.linear_model import Perceptron
from sklearn.svm import SVC
from sklearn.neighbors.nearest_centroid import NearestCentroid
from sklearn.naive_bayes import GaussianNB
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
world_cup = pd.read_csv("/Users/mgor/Downloads/game.csv")
results = pd.read_csv("/Users/mgor/Downloads/game.csv");

In [3]:
world_cup.head()
results.head()

,game_id,season,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz
0,2012030221,20122013,P,2013-05-16,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
1,2012030222,20122013,P,2013-05-19,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT
2,2012030223,20122013,P,2013-05-21,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT
3,2012030224,20122013,P,2013-05-23,6,3,3,4,home win OT,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT
4,2012030225,20122013,P,2013-05-25,3,6,1,3,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT

In [4]:
winner = []
for i in range(len(results['home_team_id'])):
    if results['home_goals'][i] > results['away_goals'][i]:
#         winner.append(results['home_team_id'][i])
        winner.append(2)
    elif results['home_goals'][i] < results['away_goals'][i]:
#         winner.append(results['away_team_id'][i])
        winner.append(0)
    else:
#         winner.append('Draw')
        winner.append(1)
results['winning_team'] = winner

# results['goal_difference '] = np.absolute(results['home_goals']-results['away_goals'])

results.head()

,game_id,season,type,date_time,away_team_id,home_team_id,away_goals,home_goals,outcome,home_rink_side_start,venue,venue_link,venue_time_zone_id,venue_time_zone_offset,venue_time_zone_tz,winning_team
0,2012030221,20122013,P,2013-05-16,3,6,2,3,home win OT,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,2
1,2012030222,20122013,P,2013-05-19,3,6,2,5,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,2
2,2012030223,20122013,P,2013-05-21,6,3,2,1,away win REG,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,0
3,2012030224,20122013,P,2013-05-23,6,3,3,4,home win OT,right,Madison Square Garden,/api/v1/venues/null,America/New_York,-4,EDT,2
4,2012030225,20122013,P,2013-05-25,3,6,1,3,home win REG,left,TD Garden,/api/v1/venues/null,America/New_York,-4,EDT,2

In [5]:
results = results[['home_team_id','away_team_id','winning_team']]
results.head()

   home_team_id  away_team_id  winning_team
0             6             3             2
1             6             3             2
2             3             6             0
3             3             6             2
4             6             3             2

In [17]:
final = pd.get_dummies(results, prefix=['home_team_id','away_team_id'], columns=['home_team_id','away_team_id'])
X = final.drop(['winning_team'],axis=1)
y = final["winning_team"]
y = y.astype('int')

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.05, random_state=42)

X_train
# see how X_train looks like
with open('output','w') as f:
    for row in X_train.iterrows():
        f.write(str(row))

In [20]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
x = [0]*64
x[1] = 1
x[34] = 1
print(logreg.predict([x]))
print(logreg.score(X_train, y_train))
print(logreg.score(X_test, y_test))

[0]
0.5864459535936616
0.5898123324396782

In [8]:
from sklearn.externals import joblib
joblib.dump(logreg, 'nhl.logistic_model.joblib')

['nhl.logistic_model.joblib']

In [9]:
perceptron = Perceptron(fit_intercept=False, max_iter=10, tol=None, shuffle=False)
perceptron.fit(X_train, y_train)
print(perceptron.predict([x]))
print(perceptron.score(X_train, y_train))
print(perceptron.score(X_test, y_test))

[0]
0.5144312393887945
0.5522788203753352

In [10]:
svc = SVC()
svc.fit(X_train, y_train)
print(svc.predict([x]))
print(svc.score(X_train, y_train))
print(svc.score(X_test, y_test))

[2]
0.5669213355970572
0.5335120643431636

In [11]:
nearctr = NearestCentroid()
nearctr.fit(X_train, y_train)
print(nearctr.predict([x]))
print(nearctr.score(X_train, y_train))
print(nearctr.score(X_test, y_test))

[0]
0.5744199207696661
0.5898123324396782

In [12]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)
print(gnb.predict([x]))
print(gnb.score(X_train, y_train))
print(gnb.score(X_test, y_test))

[0]
0.5758347481607244
0.5844504021447721

In [13]:
mlp = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5, 2), random_state=1)
mlp.fit(X_train, y_train)
print(mlp.predict([x]))
print(mlp.score(X_train, y_train))
print(mlp.score(X_test, y_test))

[2]
0.551358234295416
0.514745308310992

In [14]:
dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)
print(dtc.predict([x]))
print(dtc.score(X_train, y_train))
print(dtc.score(X_test, y_test))

[2]
0.6648273910582909
0.5388739946380697